name: "godot-ci format"
on: push

env:
  FORMATTER_VERSION: 0.18.2

jobs:
  format-check:
    name: Check Format
    runs-on: ubuntu-24.04 # Use 24.04 with godot 4
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup Path
        run: |
          mkdir -p $HOME/.local/bin
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
      - name: Install Formatter
        run: |
          curl -L -f -O "https://github.com/GDQuest/GDScript-formatter/releases/download/${FORMATTER_VERSION}/gdscript-formatter-${FORMATTER_VERSION}-linux-x86_64.zip"
          unzip -q gdscript-formatter-${FORMATTER_VERSION}-linux-x86_64.zip
          mv gdscript-formatter-${FORMATTER_VERSION}-linux-x86_64 $HOME/.local/bin/gdscript-formatter
      - name: Run format checker
        run: |
          make format-check
